/*Base style*/
body {
    background-color: #e2dadb;
    color: #1f1a38;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
}

header img {
    width: 10%;
    border-radius: 50%;
    display: inline-block;
    padding: 1%;
    border: 1%;
}

h1 {
    font: .5em;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 1%;
    border: 1%;
}

button {
    margin-left: auto;
    margin-right: 1%;
    width: 3%;
}


ul {
    text-align: center;
    padding-inline-start: 0;
    background: #4e6766;
    text-transform:uppercase;
}

#header {
    display:none;
    align-items: center;
    margin: auto;
}

#header li {
    display: flex;
    padding: 1%;
    border: 1%;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-size: 1.25em;
    background-color: #4e6766;
}

#header a {
    text-decoration: none;
    color: #e2dadb;
}

li:hover, a:hover {
    background: #1f1a38;
}

a {text-decoration: none; color: #4e6766;}

button {
    border: none;
}

/*begin style for gallery*/
div>img {
    display: inline-block;
    width: 10%;
    border-radius: 50%;
}

#info {
    align-items: center;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activeClass {
    width: 50vw;
    height: 30vh;
    border:5px solid #1f1a38;
    margin:0 auto;
    background-color: #4e6766;
    background-image: url('') 50%;
    background-repeat: no-repeat;
    color:#1f1a38;
    text-align: center;
    background-size: 100%;
    margin-bottom:25px;
    font-size: 150%;
}

.activeClassBig {
    line-height:auto;
    width: 50vw;
    height: 30vh;
    border:5px solid #1f1a38;
    margin:0 auto;
    background-color: #000000;
    background-image: url('') 50%;
    background-repeat: no-repeat;
    color:#1f1a38;
    text-align: center;
    background-size: 100%;
    margin-bottom:25px;
    font-size: 150%;
}


@media screen and (min-width:640px){
    button {
        display: none;
    }

    *, *:before, *:after {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding: 0.5rem}

    body{background:#e2dadb;font-family:sans-serif;font-size:16px;color:#1f1a38;min-height: 100vh;margin-bottom: 10vh;}

    a {text-decoration: none;color:#4e6766}

    li a{text-decoration:none;color:#e2dadb}

    #header{ background:#4e6766;position: fixed;bottom:0;left:0;display: flex;}

    #header:after{content:"";clear:both;display:block;}

    nav{display: block; width:100vw; align-items: center;}

    nav>ul{display: flex; justify-content: space-around;padding: inherit; align-items: center;height: inherit;}

    nav li{list-style:none; align-items: center;}

    nav li a{padding:inherit;}

    nav li:hover {
        background: #1f1a38;
    }


    nav li a:hover{background:#1f1a38;}

    nav li ul{display:none}

    nav li:hover ul{display:inline}

    nav li li{float:none}

    nav li li a{float:none;color:#333;display:block;padding:8px 10px;border-radius:3px;font-size:13px}

    nav li li a:hover{background:#bdc3c7;background:#FAFBFB}

    /*begin gallery style*/
    #container img {
        width: 10%;
    }

    .activeClass {
        line-height:auto;
        width: 30vw;
        height: 30vw;
        border:5px solid #1f1a38;
        margin:0 auto;
        background-color: #4e6766;
        background-image: url('') 50%;
        background-repeat: no-repeat;
        color:#1f1a38;
        text-align: center;
        background-size: 100%;
        margin-bottom:25px;
        font-size: 150%;
    }

    .activeClassBig {
        line-height:auto;
        width: 40vw;
        height: 40vw;
        border:5px solid #1f1a38;
        margin:0 auto;
        background-color: #4e6766;
        background-image: url('') 50%;
        background-repeat: no-repeat;
        color:#1f1a38;
        text-align: center;
        background-size: 100%;
        margin-bottom:25px;
        font-size: 150%;
    }

    #text {
        display:inline-block;
    }

    #alt {
        text-align: center;
        font-size: 150%;

    }

    #info {
        text-align: center;
    }

    #info p {
        font-size: large;
    }

}

