header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    border: 2%;
}

img {
    width: 25%;
    padding: 2%;
    margin: 2%;
}

#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    margin: 2%; 
}

#intro h2 {
    margin: 0;
    padding:0;
}

div {
    margin: 2%;
    border: 2%;
}

.container {
    display: flex;
    align-items: center; 
}

.container h2 {
    margin: 2%;
    border: 2%;
}

.container p {
    font-size: large;
    margin: 2%;
    border: 2%;
}

.left {
    width: 70%;
    margin-right: 30%;
}

.right {
    width: 70%;
    margin-left: 30%;
}
